*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/drawable/fond_afpa.png
/app/src/main/res/drawable/fond_afpa_land.png
/app/src/main/res/drawable/Convertisseur.png
/app/src/main/res/drawable/ic_convertisseur.png
/app/src/main/afpa-playstore.png
/app/src/main/res/mipmap-xxhdpi/afpa.png
/app/src/main/res/mipmap-anydpi-v26/afpa.xml
/app/src/main/res/mipmap-hdpi/afpa.png
/app/src/main/res/mipmap-mdpi/afpa.png
/app/src/main/res/mipmap-xxxhdpi/afpa.png
/app/src/main/res/mipmap-xhdpi/afpa.png
/app/src/main/res/mipmap-anydpi-v26/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/drawable/afpa_background.xml
/app/src/main/res/drawable/fond_afpa_land.9.png
/app/src/main/res/drawable/configuration.png
/app/src/main/res/drawable/config.png
/app/src/main/res/drawable/quitter.png
